.image-info-container {
  display: flex;
  gap: 2rem; 
  margin-top: 1rem;
}

.image-container {
  flex: 1;  
  max-width: 50%; 
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.bookmark-icon {
  position: absolute;
  top: 0.5rem; 
  right: 0.5rem; 
	font-size: 40px;
  z-index: 10; 
}

.movie-img {
  width: 100%;
  height: auto;

	&:hover{
		transform: scale(1.05); 
	}
}

.info-container {
  flex: 1; 
  padding: 1rem;
  background-color: var(--lightgrey); 
  border-radius: 10px;
}

.rating {
  font-weight: bold;
  color: var(--red);
}

.actor-list {
  list-style-type: none; 
  padding: 0;
}

.actor-list li {
  margin-bottom: 0.5rem; 
	color: var(--darkred);
}


@media screen and (width <= 480px) { 
	.image-info-container {
			flex-direction:column; 
	}

	.info-container {
			flex: initial; 
      text-align:left ;
	}

	.image-container { 
		max-width: 100%; 
	}

}