.image-info-container {
	display: flex;
	flex-direction: row;
	text-align: left;
}

.image-container {
}

.movie-img {
	width: 20em;
}

.info-container {
	display: flex;
	flex-direction: column;
	align-items: self-start;
	margin-left: 2em;
}

.rating {
	border: 1px dotted black;
	padding: 1px;
}

.actor-list {
	list-style: none;
}

.actor-list > li {
	display: inline-block;
}

/* Target list items that come immediately after another list item, so not the first li in a list */
.actor-list li + li::before {
	content: ", ";
}
